{% extends "layout.html" %}

{% block title %}Transfer History{% endblock %}


{% block content %}
<div class="container-fluid" style="margin-left:20px">
    <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <span id="history_table"></span>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

<script>
function loadTable(){
    $('#history_table').load('/history_table', function(){
        setTimeout(loadTable, 1000);
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
}

loadTable();

</script>

{% endblock %}