{% extends "layout.html" %}

{% block title %}Bot Trading{% endblock %}


{% block content %}
<div class="container-fluid" style="margin-left:20px">

    <div class="row">


        <div class="col-md-5">
            <div class="head">
                <h1>Market: <b>{{exchange_name}}</b></h1>
                <h4><b>{{endpoint}}</b></h4>
            </div>
            <div>
                <div id="bid_asks"></div>
            </div>
            <div style="clear:both">
                <table id="results_table" class="table table-hover"></table>
            </div>
        </div>
        <div class="col-md-7">
            <div id="graph_slot1"></div>
            <div id="graph_slot2"></div>
        </div>


        <script language="JavaScript">


var PAIRS = {{supported_pairs|safe}};

var SLOT1_PAIR = null;
var SlOT2_PAIR = null;

function getRandomPair(){
    return PAIRS[Math.floor(Math.random()*PAIRS.length)];
}

function updatePairSelection(){
    SLOT1_PAIR = getRandomPair();
    SLOT2_PAIR = getRandomPair();
    while(SLOT1_PAIR==SLOT2_PAIR){
        SLOT2_PAIR = getRandomPair();
    }
}

setInterval(updatePairSelection, 30000);
updatePairSelection();


function loadTable(){
 $('#results_table').load('/results_table', function(){
        setTimeout(loadTable, 1000);
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
 });
}
loadTable();


function loadBidAsks(){
 $('#bid_asks').load('/bid_asks', function(){
        setTimeout(loadBidAsks, 1000);
 });
}
loadBidAsks();


function refreshGraphs(){
    $(this).clearQueue();
    $.getJSON( "/pair_data/" + SLOT1_PAIR.replace("/","-"), function( json ) {
        showGraph("graph_slot1", json);
        $.getJSON( "/pair_data/" + SLOT2_PAIR.replace("/","-"), function( json ) {
            setTimeout(refreshGraphs, 10000);
            showGraph("graph_slot2", json);
        })
    });
}
refreshGraphs();







        </script>
    </div>
</div>

{% endblock %}