{% extends "layout.html" %}

{% block title %} Portfolio Values{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-left:20px">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio Values</h1>
            <div id="graph_slot"></div>
        </div>
    </div>
</div>

<script>


function refreshGraph(){
    $(this).clearQueue();
    $.getJSON("/portfolio_values_data", function( json ) {
        showPortfolioValuesGraph("graph_slot", json);
        setTimeout(refreshGraph, 10000);
    });
}
refreshGraph();


</script>
{% endblock %}