{% extends "layout.html" %}

{% block title %}{{username}} profile{% endblock %}


{% block content %}
<div class="container-fluid" style="margin-left:20px">
    <div class="row">
        <div class="col-md-12">
            <h1>{{username}}</h1>
            <span id="portfolio"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span id="history_table"></span>
        </div>
        <div class="col-md-6"></div>

    </div>
</div>

<script>
function loadPortfolio(){
    $('#portfolio').load('/portfolio?username={{username}}', function(){
        setTimeout(loadPortfolio, 1000);
    });
}

loadPortfolio();

function loadTable(){
    $('#history_table').load('/history_table?username={{username}}', function(){
        setTimeout(loadTable, 1000);
    });
}

loadTable();


</script>

{% endblock %}